.here {
    display: block;
    margin-left: 260px;
}

.comojogar-texto {
    margin-left: 100px;
}

.comojogar-texto h2 {
    font-size: 54px;
    margin-top: 50px;
}

.comojogar-texto h2 span {
    font-size: 72px;
    font-family: "SpriteGraffitiShadow";
}

.comojogar-texto p {
    font-size: 24px;
    margin: 10px auto;
}

.container-numeros {
    background-image: url('../../assets/Caixa.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150px;
    display: flex;
    color: #fff;
    align-items: center;

}

.link {
    color: #000;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: rgb(97, 240, 250);
}

.numeros img {
    width: 150px;
    display: block;
}

/* -------------------------- media query -------------------------- */

@media (max-width: 576px) {

    .here {
        margin-left: 0;
    }

    .comojogar-texto {
        text-align: center;
        margin-left: 30px;
    }

    .container-numeros {
        background-size: cover;
        margin-left: 80px;
    }

    .numeros {
        margin-left: -100px;
    }



}